<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="w-full min-h-screen bg-neutral-900">

    <div class="max-w-7xl m-auto p-8">
        <h1 class="text-5xl font-semibold text-indigo-600 mb-8">Liste des étudiants</h1>

        <ul th:if="${etudiants != null}" class="space-y-4 mb-8">
            <li th:each="etudiant : ${etudiants}"
                class="p-4 bg-neutral-800 border border-neutral-700 rounded-lg shadow-sm">
                <div class="flex justify-between items-center">
                    <div>
                        <a th:href="@{/etudiant/detail/{id}(id=${etudiant.getId()})}"
                           class="text-lg font-medium text-indigo-600 hover:underline">
                            <span th:text="${etudiant.nom + ' ' + etudiant.prenom}"></span>
                        </a>
                        <div class="mt-1 text-sm text-gray-300">
                            <span th:text="${etudiant.email}"></span> |
                            <span th:text="${etudiant.age + ' ans'}"></span>
                        </div>
                    </div>
                    <button class="text-gray-500 hover:text-indigo-500 cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
        <button type="button" class="bg-neutral-300 rounded-md px-4 py-2 text-black font-semibold">
            <a th:href="@{/etudiant/add}">Ajouter un étudiant</a>
        </button>

    </div>
</div>
</body>
</html>